<template>
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">ENTRY KURS MITRA</h3>
          </div>
          <div class="panel-body">
            
            <form method="POST" class="form-horizontal" role="form">
              <div class="col-lg-6">
                <div class="checkbox" v-for="valas in valases">
                  <label>
                    <input type="checkbox" v-bind:value="valas.valas_id" v-model="checkedValas">
                    {{ valas.prefix }}
                  </label>
                </div>
              </div>
              <div class="col-lg-6">
                <legend>Data Mitra</legend>
                <div class="form-group">
                  <div class="col-sm-5">
                    <label for="">MITRA ID</label>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" v-model="mitraId">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" v-on:click="cariMitra">Cari!</button>
                        </span>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-5">
                    <label for="">NAMA MITRA</label>
                    <input type="text" name="" readonly class="form-control" value="" v-model="namaMitra">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-5">
                    <label for="">SELISIH KURS</label>
                    <input type="text" name="" class="form-control" value="" v-model="selisihKurs">
                  </div>
                </div>
              </div>
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                    <a class="btn btn-primary" @click="simpan">Simpan</a>
                  </div>
                </div>
            </form>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>VALAS</th>
                    <th>Jual</th>
                    <th>BELI</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="k in kursTable">
                    <td>{{ k.prefix }}</td>
                    <td>{{ k.modal_jual }}</td>
                    <td>{{ k.modal_beli }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
      
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        valases:[],
        checkedValas:[],
        urls:'',
        mitraId:'',
        namaMitra:'',
        kursTable: [],
        selisihKurs:'',
      }
    },
    created() {
      this.$http.get(configURLs).then(res=> {
        this.urls = res.data.urls;
        this.fetchValas();
      });
    },
    methods: {
      cariMitra() {
        let url = this.urls.mitra_find + '/' +this.mitraId;
        this.$http.get(url).then(res => {
          var res = res.data.search_result;
          this.namaMitra = res.nama;
          this.mitraId = res.mitra_id;
        });
      },
      fetchValas() {
        let url = this.urls.put_valas_all;
        this.$http.get(url).then(res=> {
          console.log(res.data);
          this.valases = res.data;
        });
      },
      simpan() {
        let url = this.urls.simpanKursMitra
        var data = {
          mitraId : this.mitraId,
          valases: this.checkedValas,
          selisih: this.selisihKurs
        };
        this.$http.post(url,data).then(res => {
          this.mitraId = '';
          this.checkedValas = [];
          this.namaMitra = '';
          this.kursTable = res.data.valas;
          alert('Berhasil menimpan valas');
        });
      },
    },
  }
</script>