<template>
<div class="row">
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Laporan Histori Stok Valas</h3>
        </div>
        <div class="panel-body" style="min-height:400px;">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label for="">Tanggal</label>
              <input type="date" class="form-control" v-model="tDateAkhir">
            </div>
            <a class="btn btn-primary" v-on:click="fetchLaporan">Cari</a>
            <a class="btn btn-warning" v-bind:href="urlCetak" v-if="urlCetak!==''" target="_blank">Cetak</a>
          </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>VALAS</th>
                <th>STOK AWAL</th>
                <th>KELUAR</th>
                <th>MASUK</th>
                <th>STOK AKHIR</th>
              </tr>
            </thead>
            <tbody>
              
              <tr v-for="(val,key) in laporans">
                <td>{{ key }}</td>
                <td>{{val.stokAwal}}</td>
                <td>{{val.total_out}}</td>
                <td>{{val.total_in}}</td>
                <td>{{val.stokAkhir}}</td>
              </tr>
              
            </tbody>
          </table>
          
        </div>
    </div>
    
  </div>

  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">    
    <div id="wrap_chart" class="panel panel-default" height="400">
        <div class="panel-body">
        <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
  </div>

</div>
</template>

<script>
  export default {
    data() {
      return {
        laporans:[],
        urls:[],
        tDateAwal:'',
        tDateAkhir:'',
        urlCetak:'',
      }
    },
    created() {
      this.$http.get(configURLs).then(res => {
        this.urls = res.data.urls;
      });
    },
    methods: {
      fetchLaporan() {
        if(this.tDateAkhir !=='') {
          var data = {
            tDateAkhir:this.tDateAkhir
          };
          let url = this.urls.postLaporanHistoristok;
          this.$http.post(url,data).then(res => {
            this.laporans = res.data;
            this.buildUrl();
            this.fetchDatasets();
            console.log(res.data);
          });
        }
      },
      buildUrl() {
        this.urlCetak = this.urls.cetakLaporanHistoristok+'/'+this.tDateAkhir;
      },
      fetchDatasets() {
        let url = this.urls.fetchDatasets;
        var data = {
          tDateAkhir:this.tDateAkhir,
          tDateAwal:'2018-01-22'
        };
        this.$http.post(url,data).then(res => {
            this.buildChart(res.data);
            console.log(res.data);
          });
      },
      buildChart(newData) {
        $(document).ready(function() {
          //console.log($("#myChart"));
          $.getScript('http://localhost:10/js/chartJs.js', function() {
              //script is loaded and executed put your dependent JS here
              var ctx = document.getElementById("myChart").getContext('2d');
              var scatterChart = new Chart(ctx, {
                  type: 'line',
                  data: newData,
                  options: {
                    title: {
                      display: true,
                      text: 'HISTORI STOK VALAS'
                    }
                  }
              });
          });
        });
      }
    }
  }
</script>