<template>
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Laporan Transaksi Penukaran Valas</h3>
        </div>
        <div class="panel-body">
          
          
          <form class="form-inline" role="form" style="margin-bottom:30px;">
          
            <div class="form-group">
              <label for="">Tanggal Awal</label>
              <input type="date" name="tDateAwal" v-model="tDateAwal" class="form-control" required="required">
            </div>
            <div class="form-group">
              <label for="">Tanggal Akhir</label>
              <input type="date" name="tDateAwal" v-model="tDateAkhir" class="form-control" required="required">
            </div>
            <div class="form-group">
              <label for="">Jenis</label>
              <select class="form-control" name="jenis" v-model="jenis">
                <option value="S" selected="selected">PENJUALAN</option>
                <option value="B">PEMBELIAN</option>
              </select>
            </div>
            <a class="btn btn-primary" v-on:click="fetchLaporan">Cari</a>
            <a id="cetak" class="btn btn-warning" v-bind:href="cetakUrl" v-if="cetakUrl !==''" target="_blank">Cetak</a>
          </form>
          
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>VALAS</th>
                <th width="180">NOMOR KUITANSI</th>
                <th>AMOUNT</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(lap,key) in laporans">
                <td class="text-center">{{key}}</td>
                
                <td style="padding:0px !important;">
                  <table class="col-md-12 text-center">
                    <tr v-for="det in lap.data">
                      <td style="border:1px solid #ddd !important;">{{det.no_kuitansi}}</td>
                    </tr>
                  </table>
                </td>
                <td style="padding:0px !important;">
                  <table class="col-md-12 text-center">
                    <tr v-for="det in lap.data">
                      <td style="border:1px solid #ddd !important;">{{det.amount}}</td>
                    </tr>
                  </table>
                </td>
                <td class="text-center">{{ lap.jumlah_amount }}</td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td class="text-center"><h3>{{ total_amount }}</h3></td>
              </tr>
            </tbody>
          </table>
          
          
        </div>
    </div>
    
  </div>
</div>
</template>
<script>
  export default {
    data() {
      return {
        laporans: [],
        urls:[],
        jenis:'S',
        tDateAwal:'',
        tDateAkhir:'',
        total_amount:0,
        cetakUrl: '',
      }
    },
    created() {
      this.$http.get(configURLs).then(res => {
          this.urls = res.data.urls;
          console.log(this.urls);
      });
    },
    methods: {
      fetchLaporan() {
        let url = this.urls.postLaporanPenukaran;
        let data = {
          jenis: this.jenis,
          tDateAwal: this.tDateAwal,
          tDateAkhir: this.tDateAkhir,
        };
        this.$http.post(url,data).then(res => {
            //this.laporans = res.data.mitras;
            this.setLaporans(res.data);
        });
      },
      setLaporans(lap) {
        console.log(lap);
        this.total_amount = 0;
        this.laporans = lap;
        for (var key in lap) {
            if (lap.hasOwnProperty(key)) {
                this.total_amount += lap[key].jumlah_amount;
            }
        }
        this.setCetakLaporan();
      },
      setCetakLaporan() {
        let url = this.urls.cetakLaporanPenukaran;
        this.cetakUrl = url+'/'+this.tDateAwal+"/"+this.tDateAkhir+"/"+this.jenis;
        //$("#cetak").attr("href",url);
      },
    }
  }
</script>
