<template>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Laporan Pendapatan</h3>
        </div>
        <div class="panel-body">
          <form class="form-inline" role="form" style="margin-bottom:30px;">
            <div class="form-group">
              <label for="">Tanggal Awal</label>
              <input type="date" class="form-control" v-model="tDateAwal">
            </div>
            <div class="form-group">
              <label for="">Tanggal Akhir</label>
              <input type="date" class="form-control" v-model="tDateAkhir">
            </div>
            <a class="btn btn-primary" v-on:click="fetchLaporan">Cari</a>
            <a class="btn btn-warning" v-bind:href="urlCetak" v-if="urlCetak!==''" target="_blank">Cetak</a>
          </form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>TANGGAL</th>
                <th>VALAS</th>
                <th>AMOUNT</th>
                <th>RATE TRANSAKSI</th>
                <th>RATE MODAL</th>
                <th>SELISIH</th>
                <th>RUPIAH</th>
                <th>PENDAPATAN</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="lap in laporans">
                <td>{{lap.created_at}}</td>
                <td>{{ lap.valas }}</td>
                <td>{{ lap.amount }}</td>
                <td>{{ lap.rate_transaksi }}</td>
                <td>{{ lap.rate_modal }}</td>
                <td>{{ lap.selisih }}</td>
                <td>{{ lap.rupiah }}</td>
                <td>{{ lap.pendapatan }}</td>
              </tr>
            </tbody>
          </table>
          
        </div>
    </div>
    
  </div>
</div>
</template>

<script>
  export default {
    data() {
      return{
        laporans:[],
        tDateAwal:'',
        tDateAkhir:'',
        urlCetak:'',
        urls:'',
      }
    },
    created() {
      this.$http.get(configURLs).then(res => {
        this.urls = res.data.urls;
      });
    },
    methods: {
      fetchLaporan() {
        if(this.tDateAwal !== '' && this.tDateAkhir !== '') {
          let url = this.urls.postLaporanPendapatan;
          var data = {
            awal: this.tDateAwal,
            akhir:this.tDateAkhir
          };
          this.$http.post(url,data).then(res => {
            this.setLaporan(res.data);
            console.log(this.laporans);
            this.setUrlCetak();
          });
        }
      },
      setLaporan(lap) {
        this.laporans = lap;
      },
      setUrlCetak() {
        let url = this.urls.cetakLaporanPendapatan + '/' + this.tDateAwal + '/' + this.tDateAkhir;
        this.urlCetak = url;
      }
    },
  }
</script>