.padding-5 {
  padding:0 5px !important;
}
.upload-pre-md {
  width: 100%;
  height: 200px;
}
.kontent_cetak {
  background:white;
}
.kop {
  padding:30px;
  border-bottom:solid green 4px;
  min-height:100px;

}
.body_cetak {
  padding: 50px 100px !important;
}
.body_heading {
  margin-bottom : 30px !important;
}
.footer_cetak {
  padding-top:180px;
  padding-bottom:90px;
  font-size:1.1em;
}